{% extends 'base.html.twig' %}

{% block title %}BlogPost{% endblock %}

{% block body %}
    <h1>BlogPost</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ blog_post.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ blog_post.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ blog_post.description }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ blog_post.createdAt ? blog_post.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>DeprecatedAt</th>
                <td>{{ blog_post.deprecatedAt ? blog_post.deprecatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Flag</th>
                <td>{{ blog_post.flag }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('blog') }}">back to list</a>

    <a href="{{ path('blog_post_edit', {'id': blog_post.id}) }}">edit</a>

    {{ include('blog_post/_delete_form.html.twig') }}
    
{% endblock %}
