{% extends 'baseAdmin.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}
{% block section %} Portfolio {% endblock %}
{% block body %}
<section class="content">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">List portfolio items</h3>
          <div class="card-tools">
            <div class="input-group ">
              <a class="btn btn-sm btn-block btn-primary" href="{{ path('addPortfolioProject') }}"> Add new item</a>
            </div>
          </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body table-responsive p-0">
          <table class="table table-head-fixed text-nowrap">
            <thead>
              <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Client</th>
                <th>Creation date</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              {% for project in listProjectDashboard %}
              <tr>
                <td><a href="{{path('updatePortfolioProject', {'id':project.id})}}">{{project.title}}</a></td>
                <td>{{project.description | u.truncate(70, '...')}}</td>
                <td>{{project.client}}</td>
                <td>{{project.creationDate.format('d/m/Y')}}</td>
                <td><a href="{{path('deletePortfolioProject', {'id':project.id})}}" class="btn btn-danger"><i class="fas fa-trash"></i></a></td>
              </tr>
              {% else %}
              <tr>
                <td colspan="7">no records found</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
    </div>
  </div>
</section>
{% endblock %}